<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <!-- meta attributes -->
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!-- MathJax -->
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
        });

    MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
        }
        });
    </script>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
    <a href="{{ site.baseurl }}/">Open Pencil</a>
    <a class="extra" href="/projects.html">Projects</a>
  </div>

  {{ content }}
  <ul class="posts_list">
      {% for post in site.posts %}
        {% include post.html %}
      {% endfor %}
    </ul>

  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://github.com/openpencil">{% include svgicons/github.html %}</a>
      </p>
    </div>
  </div>
</div>


</body>
</html>
